/*
	Paleta de colores: https://colorhunt.co/palette/2121216d9886d9cab3f6f6f6
*/


*{
	margin: 0;
	padding: 0;
	font-family: Readex Pro, sans-serif; 
}

body{
	background-color: #F6F6F6;
	color:#fff;
}

	header{
		background-color: #212121;
		display: flex;
		justify-content: space-between;
		align-items: baseline; 

	}
		h1{	
			margin-left: 40px;
		}
		nav{

		}
			nav{
				
			}
				ul{
					display: flex;
					margin-right: 40px;
					list-style: none;
				}
					li{
						padding: 0 20px;
					}
					li:hover{
						background-color: #6D9886;
					}
						a{
							text-decoration: none;
							color:#fff;
						}

	.container{

		display: flex;
		flex-direction: column;
		align-items: center;
		color:black;
		border: 1px solid #000;

		margin: 50px auto;
		width: 60%;
	
	}
	.sendProductData{
		display: inline-block;
		margin: 0 50px;
	}
		.articleCreateProduct{
			display: flex;
			justify-content: flex-start;
			width: 100%;
			margin: 0 50px;
		}
			form{

			}
				.form_elements	{
					margin: 30px 0;
				}
					.special{
						display: inline-block;
						margin: 0 0 10px 0;
					}
						#submitButton{
							font-size: 16px;
						}

		.articlesProductInfo{
			display: flex;
			flex-direction: column;
			justify-content: center;
			width: 90%;

			margin: 50px auto;
		}
			.tableProductInfo{
				 border-collapse: collapse;
				 margin: 20px 0; 
				 border: 1px solid #000;
			}
				tr{
					background-color: #fff;
					border: 1px solid #000;
				}
					tr th{
						
						border: 1px solid #000;
						padding: 20px;
					}
						tr td{
							text-align: center;
							width: 100px;
							padding: 10px;
							border: 1px solid #000;
						}

		.prices{

			margin: 20px auto;
			width: 100%;
			display: inline;
		}

@media all and (max-width: 1000px) {
	.container{
		width: 80%;
	}
		.articlesProductInfo{
				display: flex;
				align-items: center;
				
				margin: 0 auto;
			}
				tr th{
					padding: 5px;
				}
					tr td{
						text-align: center;
						width: 100px;
						padding: 5px;
						border: 1px solid #000;
					}
}


@media all and (max-width: 550px) {
	.sendProductData{
		display: none;
	}
		.tableProductInfo{
			display: none;
		}
		tr th{
			padding: 0px;
			margin: 0;
		}

			.prices{
				margin: 0 auto;
				width: 100%;
				display: inline;
						
			}
}